.btn,
.btn:link,
.btn:visited,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $color-primary;
  border: 0.1rem solid $color-primary;
  border-radius: 0.4rem;

  color: $color-initial;
  
  cursor: pointer;

  display: inline-block;

  font-size: 1.1rem;
  font-weight: 700;

  letter-spacing: 0.1rem;

  line-height: 3.8rem;

  padding: 0 3rem;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  vertical-align: middle;
  margin-bottom: 1rem;

  &:focus,
  &:hover {
    background-color: $color-primary-dark;
    border: 0.1rem solid $color-primary-dark;
    outline: 0;
    color: $color-initial;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

  &.outline {
    background-color: transparent;
    color: $color-primary;
   
    &:focus,
    &:hover {
      color: $color-primary-dark;
    }

    &:disabled {

      &:focus,
      &:hover {
        background-color: inherit;
        border-color: inherit;
        color: $color-primary;
      }
    }
  }

  &.btn-full {
    display: block;
    width: 100%;
  }
}
