code {
  background-color: $color-tertiary;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  margin: 0 0.2rem;
  font-size: 90%;
}

pre {
  background-color: $color-tertiary;
  overflow-y: scroll;
  padding: 1rem;
  border-bottom: 0.4rem solid $color-primary;

  & > code {
    padding: 0;
    font-size: 1.6rem;
  }
}
