.hero {
  min-height: 100vh;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
.logo {
  width: 13rem;
  margin-bottom: 1.5rem;
}

.logo-small {
  width: 2rem;
  margin-right: 1rem;
}

nav {
  width: 100%;
  align-self: flex-start;
  position: fixed;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  background-color: rgb(247, 247, 247);
}

.nav-container {
  display: flex;
}

.logo-box {
  display: flex;
  align-items: center;
  flex-grow: 1;
}



.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 2rem;
}

.section {
  padding-bottom: 10rem;
}

.section:first-of-type {
  padding-top: 10rem;
}

.column-demo {
  background-color: rgb(219, 187, 43);
  border-radius: 5px;
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  font-weight: bold;
}
